<%= simple_form_for @store do |form| %>
  <%= form.error_notification errors:true%>

  <div class="row">
    <div class="input-field col s6">
      <%= form.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= form.input :address %>
    </div>
  </div>

  <div class="row">
      <%= form.button :submit ,class: 'btn btn-primary grey'%>
  </div>
<% end %>
