<p id="notice"><%= notice %></p>


<div class="col s12 m7">
    <h2 class="header">Stores</h2>
    <% @stores.each do |store| %>

    <div class="card horizontal">
      <div class="card-image">
        <% if store.logo.attached? %>
          <%=image_tag store.logo%>
        <% end %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= store.name %></p>
          <p><%= store.address %></p>
        </div>
        <div class="card-action">
          <td><%= link_to 'Show', store %></td>
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    </div>
    <% end %>

</div>


<%= link_to new_store_path ,title: "new store" do %>
  <i class="medium material-icons left">add_box</i>
<% end %> 
