 <h3 class="center-align">Lojas Cadastradas</h3>
    <div class="custom-responsive">
      <table class="striped hover centered">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th colspan="3">Ações</th>

          </tr>
        </thead>

        <tbody>
          <% @stores.each do |store| %>

          <tr>
            <td>
              <div class="card horizontal">

                <div class="card-image">
                 <% if store.logo.attached? %>
                    <%=image_tag store.logo%>
                  <% end %>
                </div>
              </div>
            </td>
            <td><p><%= store.name %></p></td>
            <td><p><%= store.address %></p></td>
            <td>
              <%= link_to store  do %>
              <i class="material-icons left">remove_red_eye</i>
              <% end %>
            </td>
            <td>
                          
              <%= link_to edit_store_path(store) do%>
                  <i class="material-icons left">edit</i>
              <% end %>
            </td>
              <td>
                        
                <%= link_to store, method: :delete, data: { confirm: 'Você tem certeza?'}  do%>
                    <i class="material-icons left">clear</i>
                <% end %>
              </td>
                          
            </td>
          </tr>
                  
          <% end %>
        </tbody>
      </table>
    </div>
